block variables
doctype html
html
    head
        block headscripts
        link(rel="stylesheet" href="/styles.css" type="text/css")
        title Knowledge Base UI
    body
        h1=('Knowledge Base UI (' + subtitle + ')')
        #container(ng-app="App" ng-controller="AppController")
            header
                block header
            .sidebar
                block sidebar
            main
                block main
        block bodyscripts
