html
    head
        script(src="knockout.js")
        link(rel="stylesheet" href="styles.css")
        title Knowledge Base UI
    body

    header
        block header
    
    main
        div(id="left-column")
            block left-column
    
        div(id="right-column")
            block right-column

    block content
