doctype html
html
    head
        script(src="knockout.js")
        link(rel="stylesheet" href="styles.css")
        title Knowledge Base UI
    body
        h1 Knowledge Base UI
        #container
            header
                block header
            .sidebar
                block sidebar
            main
                block main
        script(src="viewmodels.js")
