body {
}

header {
    width: 100%;
    min-height: 100px;
    height: auto;
    background: #eeeeee;
}

main {
    width: 100%;
    background: #ffffff;
}

#left-column {
    display: inline-block;
    width: 150px;
    background: #dddddd;
    vertical-align: top;
}

#right-column {
    display: inline-block;
    margin-left: 10px;
}

#suggestions {
    border: solid 1px black;
    padding: 5px;
    width: 130px;
    height: auto;
    overflow: visible;
}